.root {
	display: flex;
	padding: 0;
}

.header {
	margin: 6px;
	border-bottom: 2px solid var(--brand);
}

.name {
	margin: 0 0 6px;
}

.occupation {
	margin: 0 0 10px;
	color: var(--brand);
}

.contact {
	& > *:not(:last-child) {
		margin-bottom: 12px;
	}
}

.jobType {
	font-size: 12px;
}

.qualifications {
	padding: 12px;
	flex-grow: 1;
}

.skills {
	box-sizing: border-box;
	padding: 12px;
	margin-right: 16px;
	background-color: var(--brand);
	color: var(--on-secondary);
	width: 240px;
	height: 100%;
}

.skillsSection {
	margin-bottom: 12px;
}
