.root {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
	.root {
		animation: react-logo-spin infinite 5s linear;
	}
}

@keyframes react-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
