@import "./colors.scss";

:root {
	--background: #{$background};
	--on-background: #{$onBackground};
	--brand: #{$brand};
	--on-brand: #{$onBrand};
	--secondary: #{$secondary};
	--on-secondary: #{$onSecondary};
	--secondary-hover: #{$hoverSecondary};
}

[data-theme="dark"] {
	--background: #121212;
	--on-background: #fff;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	background: rgb(23, 25, 35);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: var(--on-background);
	font-size: 12px;
}

.appRoot {
	display: flex;
	justify-content: center;
	padding: 56px;
}
